<h1>ユーザ詳細</h1>
<div>
  <%= @user.name %>
</div>
<div>
  <%= @user.email %>
</div>
<%= link_to '編集', edit_user_path %>
<div>
  <%= @user.posts.each do |post| %>
    <div>
      <%= post.name %>
    </div>
    <div>
      <%= post.description %>
    </div>
  <% end %>
</div>
