<!DOCTYPE html>
<html>
  <head>
    <title>Practice2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.notice.present? %>
      <%= flash.notice%>
    <% end %>

    <%= link_to '新規ユーザ登録', new_user_path %>

    <%= yield %>
  </body>
</html>
